a {
    text-decoration: none;
}

body {
    font-family: Roboto, Tahoma;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}