a {
    color: slategray;
    text-decoration: none;
}

body {
    background-color: #1f2937;
    color: slategray;
    font-family: Roboto, Tahoma;
}

ul {
    display: flex;
    font-size: 18px;
    gap: 20px;
    list-style-type: none;
}

.box {
    background-color: #3882f6;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    padding: 50px;
}

div.callbox {
    background-color: #fff;
    margin: 100px 200px;
}

.footer {
    align-items: center;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.header .container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.info img {
    display: flex;
    height: auto;
    margin: 0px 100px;
    width: 100px;
}

.info .text {
    margin: auto;
    width: 150px;
}

.logo {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
}

.modal {
    align-items: start;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    margin: 100px 50px;
    width: 900px;
}

.modal .header {
    align-items: center;
    display: flex;
    font-size: 48px;
    font-weight: 700;
}

.quote {
    font-size: 24px;
    font-weight: bold;
    margin-left: 50%;
}

.random {
    align-items: center;
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin: 0px auto;
    padding: 50px;
    text-align: center;
    width: 95%;
}

.random .container {
    display: flex;
    flex-direction: row;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.sign-up {
    background-color: royalblue;
    border: 1px ;
    border-radius: 10%;
    color: #FFF;
    height: 30px;
    margin: 5px 0px;
    width: 100px;
}

.testimonial {
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    font-size: 36px;
    font-style: italic;
    gap: 50px;
    justify-content: center;
    margin: 0px auto;
    padding: 50px;
    text-align: center;
}

.testimonial .text {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
}

.title {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    padding: 32px;
}